<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay here</title>
</head>
<body>
    <h3>you will pay {{amount}} to {{merchant.name}}</h3>
    <form action="" method="post">
        number: <input type="text" name="phone" id=""><br>
        pin: <input type="text" name="pin" id=""><br>
        <input type="submit" value="Pay">
    </form>


</body>
</html>